html,
body {
  font-family: "Source Sans Pro", arial, sans-serif;
  font-weight: 400;
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  min-height: 100vh;
  text-align: center;
  background-color: #1b1b1b;
  color: #fafafa;
  font-size: 1.5em;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu {
  width: 100vw;
  height: 200px;
  bottom: 0;
  display: flex;
  position: fixed;
  font-size: 4rem;
  overflow: hidden;
  z-index: 1;

  background: linear-gradient(to top, #000000a0 10%, transparent 100%);

  p {
    padding-bottom: 30px;
    padding-left: 30px;
    font-weight: bold;
    align-self: flex-end;
    font-size: 5rem;
  }

  @media screen and (max-width: 680px) {
    font-size: 2rem;
  }
}

.videos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  // media query for mobile devices 680px
  @media screen and (max-width: 680px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-wrapper {
  overflow: hidden;
}

.project {
  aspect-ratio: 10 / 8;
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
  color: #fafafa;
}

.project-name {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
}

.project:hover .project-name {
  opacity: 1;
}
